<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Speedometer GPS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <app-speedometer-analog [speed]="speed"></app-speedometer-analog>
    <div>
      <h2>Speedometer</h2>
    <p *ngIf="speed !== undefined">Speed: {{ speed | number }} Km/h</p>
    <p *ngIf="latitude !== undefined">Latitude: {{ latitude }} </p>
    <p *ngIf="longitude !== undefined">Longitude: {{ longitude }} </p>
    </div>
  </div>

</ion-content>